In [40]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
union_set = set1 | set2
print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8}

In [17]:
intersection_set = set(set1).intersection(set2)
print(intersection_set)

{4, 5}

In [19]:
intersection_set = set1 & set2
print(intersection_set)

{4, 5}

In [22]:
difference_set = set1 - set2
print(difference_set)

{1, 2, 3}

In [25]:
check_subset = set1 <= set2
print(check_subset)

False

In [27]:
check_element = 1 in set1
print(check_element)

True

In [28]:
set_length = len(set1)

In [29]:
l = [1, 2, 3, 4, 5, 6, 6, 7, 1, 9]
set3 = set(l)
print(set3)

{1, 2, 3, 4, 5, 6, 7, 9}

In [30]:
e = 1
set1.remove(e)
print(set1)

{2, 3, 4, 5}

In [32]:
set4 = set1.clear()
print(set4)

None

In [37]:
bool(set1)

False

In [44]:
symmetric_difference = set1 ^ set2
print(symmetric_difference)

{1, 2, 3, 6, 7, 8}

In [49]:
set1.add(e)
print(set1)

{1, 2, 3, 4, 5, 10}

In [50]:
set1.pop()
print(set1)

{2, 3, 4, 5, 10}

In [51]:
max_set = max(set1)
print(max_set)

10

In [53]:
min_set = min(set1)
print(min_set)

2

In [54]:
even_set = {x for x in union_set if x % 2 == 0}
print(even_set)

{8, 2, 4, 6}

In [56]:
odd_set = {x for x in union_set if x % 2 != 0}
print(odd_set)

{1, 3, 5, 7}

In [57]:
start = 1
end = 10
range_set = {x for x in range(start, end)}
print(range_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [65]:
l1 = [1, 2, 3, 4, 5, 123,1,2]
l2 = [4, 5, 6, 7, 8]
set5 = (set(l1).union(l2))
print(set5)

{1, 2, 3, 4, 5, 6, 7, 8, 123}

In [66]:
check_disjoint = set1.isdisjoint(set2)
print(check_disjoint)

False

In [67]:
set6 = set(l1)
l1 = list(set6)
print(l1)

[1, 2, 3, 4, 5, 123]

In [72]:
print(len(set(l1)))

6

In [77]:
import random

generate_random_set = {random.randint(1, 100) for x in range(10)}
print(generate_random_set)

{96, 34, 36, 71, 75, 78, 15, 17, 82, 61}