In [2]:
t = (1,2,3,1,2,4,5,6,23,4,341,2)
b = (2)
print(t.count(b))

3

In [3]:
print(max(t))

341

In [4]:
print(min(t))

1

In [5]:
print(b in t)

True

In [6]:
print(t[:1])

(1,)

In [7]:
print(t[-1:])

(2,)

In [8]:
print(len(t))

12

In [9]:
print(t[:3])

(1, 2, 3)

In [10]:
t1 = (1,2,3)
t2 = (4,5,6)
print(t1 + t2)

(1, 2, 3, 4, 5, 6)

In [11]:
print(not t)

False

In [12]:
print(tuple(i for i, v in enumerate(t) if v == b))

(1, 4, 11)

In [13]:
print(sorted(set(t))[-2] if len(set(t)) > 1 else None)

23

In [14]:
print(sorted(set(t))[1] if len(set(t)) > 1 else None)

2

In [15]:
print(type((b,)))

<class 'tuple'>

In [16]:
l = [1,2,3,4,5,6,7,8,9,10]
print(tuple(l))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [17]:
print(t == sorted(t))

False

In [18]:
start = 2
stop = 5
slice_t = t[start:stop]
print(max(slice_t) if slice_t else None)

3

In [19]:
print(min(slice_t) if slice_t else None)

1

In [20]:
t_list = list(t)
t_list.remove(b)
t = tuple(t_list)
print(t)

(1, 3, 1, 2, 4, 5, 6, 23, 4, 341, 2)

In [21]:
t = (1,2,3,1,2,4,5,6,23,4,341,2)
size = 2
print(tuple(t[i:i+size] for i in range(0, len(t), size)))

((1, 2), (3, 1), (2, 4), (5, 6), (23, 4), (341, 2))

In [23]:
n = 2
print(tuple(e for e in t for _ in range(n)))

(1, 1, 2, 2, 3, 3, 1, 1, 2, 2, 4, 4, 5, 5, 6, 6, 23, 23, 4, 4, 341, 341, 2, 2)

In [24]:
start = 2
end = 5
tuple(range(start, end + 1))

(2, 3, 4, 5)

In [25]:
t[::-1]

(2, 341, 4, 23, 6, 5, 4, 2, 1, 3, 2, 1)

In [26]:
t == t[::-1]

False

In [28]:
tuple(set(t))

(1, 2, 3, 4, 5, 6, 341, 23)